<!DOCTYPE html>
<html>
<head>
  <title>Myblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="sidebar">
      <div class="logo">
            <%= link_to root_path do %>
                <%= image_tag "logo.jpg" %>
            <% end %>
      </div>

<ul>
  <li class="category">Website</li>
  <li><%= link_to "Blog" %></li>
  <li>About</li>
</ul>

<ul>
  <li class="category">Social</li>
  <li><a href="https://twitter.com/CleophasMashiri">Twitter</a></li>
  <li><a href="http://za.linkedin.com/in/cleophasmashiri">Linkedin</a></li>
  <li ><a href="https://github.com/cleophasmashiri">Github</a></li>
  <li><a href="https://www.google.com/+CleophasMashiri">Google+</a></li>
  <li><a href="mailto:cleophasmashiri@gmail.com">Email</a></li>
</ul>

</div>

<%= yield %>

</body>
</html>
